
<div class="console">
 <div class="center">Reciept</div>   
<div>Name : <%=name %> </div>
<div>Email : <%=email %> </div>
<div>Phone : <%=phone %> </div>
<div>Province : <%=province %> </div>
<div>Street Address : <%=streetAddress %> </div>
</div>